/*
Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

pre[class*="language-"] {
  border-radius: 4px;
  border: 1px var(--border-color) solid;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--bg-color);
  color: var(--text-color);
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--selection-bg);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--selection-bg);
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment-color);
}

.token.punctuation {
  color: var(--punctuation-color);
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: var(--boolean-number-color);
}

.token.property {
  color: var(--property-color);
}

.token.tag {
  color: var(--tag-color);
}

.token.string {
  color: var(--string-color);
}

.token.selector {
  color: var(--selector-color);
}

.token.attr-name {
  color: var(--attr-name-color);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--string-color);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: var(--attr-value-color);
}

.token.statement,
.token.regex,
.token.atrule {
  color: var(--statement-color);
}

.token.placeholder,
.token.variable {
  color: var(--variable-color);
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted var(--inserted-border);
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: var(--important-color);
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid var(--important-color);
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: var(--line-number-border);
}

.line-numbers .line-numbers-rows > span:before {
  color: var(--line-number-color);
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight.line-highlight {
  background: var(--line-highlight-bg);
  background: -webkit-linear-gradient(left, var(--line-highlight-bg) 70%, rgba(107, 115, 148, 0));
  background: linear-gradient(to right, var(--line-highlight-bg) 70%, rgba(107, 115, 148, 0));
}

/* line num */

pre {
  overflow-x: auto;
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: var(--inserted-line-bg);
}

.code-line.deleted {
  background-color: var(--deleted-line-bg);
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: var(--highlight-line-bg);
  border-left: 4px solid var(--highlight-border);
}

/* Line Numbers */
.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: var(--line-number-color);
  content: attr(line);
  font-size: 0.6em;
}
