.backButton {
  position: absolute;
  top: 9.5rem;

  color: var(--color-3);
}

.title {
  font-size: 2rem;
  /* margin: 0 0 0.8rem; */
}
.date {
  /* font-size: 0.8rem; */
  /* display: block; */
  margin-bottom: 5rem;
}

.MDXContentWrapper {
  max-width: 45rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  /* align-items: center; */
}

.MDXContentWrapper > p {
  line-height: 170%;
}

.MDXContentWrapper a {
  font-weight: 600;
  color: var(--color-4);
  transition: 0.3s;
}

.MDXContentWrapper a:hover {
  color: var(--color-1);
}

.MDXContentWrapper > video {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  border: 1px var(--border-color) solid;
  margin-block: 1rem;
}

.MDXContentWrapper li {
  line-height: 180%;
}

.MDXContentWrapper h2 {
  margin: 2rem 0 0rem 0;
}

.MDXContentWrapper img {
  background: var(--bg-color);
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  border: 1px var(--border-color) solid;
}

.MDXContentWrapper :not(pre) code {
  background: var(--bg-color);
  border-radius: var(--border-radius);
  border: 1px var(--border-color) solid;
  padding: 4px 8px;
}
