.backButton {
  position: absolute;
  top: 9.5rem;

  color: var(--color-3);
}

.title {
  font-size: 2rem;
  /* margin: 0 0 0.8rem; */
}
.date {
  /* font-size: 0.8rem; */
  /* display: block; */
  margin-bottom: 5rem;
}

.MDXContentWrapper {
  max-width: 45rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  /* align-items: center; */
}
