.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-1);
  width: fit-content;
  margin: 3rem 0;
}

.date {
  font-size: 0.8rem;
  margin-right: 0.8rem;
  color: var(--color-2);
}

.titleWrapper {
  position: relative;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.indexWrapper {
  max-width: var(--container-max-width);
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--container-padding);
  box-sizing: border-box;
}
