.backButton {
  position: absolute;
  top: 9.5rem;
  color: var(--color-3);
}

.title {
  font-size: 2rem;
}

.date {
  margin-bottom: 5rem;
}

.MDXWrapper {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  max-width: var(--content-max-width);
  padding-inline: var(--container-padding);
  box-sizing: border-box;
}

.MDXContentWrapper {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: visible; /* Allow sp-wrapper to break out */
}
